body {
  background-color: #F3F0F0;
  padding: 1rem;
}
/* .container {
  background-color: #FFFFFF;
  flex-wrap: wrap;
  width: 596px;
  height: 450px;
  margin: 10% auto;
  display: flex;
  font-family: 'Karla', sans-serif;
} */


header {
  grid-area: header;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid lightgray;
}
.card {
  color: white;
  padding: 1rem;
  height: 4rem;
  width: 238px;
  height: 200px;
}
.left-content {
  border-radius: 0 0 0 10px;
  background-color: #00B7B4;
  padding: 30px;
  grid-area: left-content;
}

.right-content {
  border-radius: 0 0 10px 0;
  background-color: #00C2C0;
  padding: 30px;
  grid-area: right-content;

} 

.cards {
  width: 596px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr;
  grid-template-areas:
  "header header "
  "left-content right-content";
}

@media (max-width: 550px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr ;
    grid-template-areas:
      "header "
      "left-content"
      "right-content";
    width: 100%;
  }
  .card {
    width: 280px;
  }
}

h2 {
  color: hsl(179, 62%, 43%);
}

header {
  padding: 30px;
}

header h4 {
  color: hsl(71, 73%, 54%);
}

header p {
  font-size: 16px;
  color: hsl(218, 22%, 67%)
}

p {
  font-size: 16px;
}

.dollar {
  font-size: 30px;
}

.dollar-p {
  color: #4dd8d7;
  position: absolute;
  margin: 10px 0px 0px 0px;
}

.content {
  color: hsl(204, 43%, 93%);
}



button {
  background-color: #B4E700;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 0px 0px #00C2C0;
}